.button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.active-button {
    color: white;
}

.inactive-button {
    background-color: #454545 !important;
    color: white;
}

.ownershipButton {
    background-color: #80b1d3;
}

.partnershipButton {
    background-color: #fdb462;
}

.family_relationshipButton {
    background-color: #b3de69;
}

.membershipButton {
    background-color: #fccde5;
}

.command-column button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.plus-button {
    background-color: red;
}

.minus-button {
    background-color: blue;
}

.show-guide-button, .hide-guide-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.show-guide-button {
    background-color: #007bff;
}

.show-guide-button:hover {
    background-color: #0056b3;
}

.hide-guide-button {
    background-color: #dc3545;
    top: 20px;
    right: 20px;
}

.hide-guide-button:hover {
    background-color: #c82333;
}

.show-report-button {
    position: absolute;
    top: 10px;
    right: 180px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.show-report-button:hover {
    background-color: #218838;
}

.hide-report-button {
    background-color: #dc3545;
    color: white;
}

.hide-report-button:hover {
    background-color: #c82333;
}