/* Introduction Section Styles */
.intro-wrapper {
    width: 100%;
    background-color: #f5f5f5;
}

.intro-section {
    background-color: #f5f5f5;
    padding: 40px;
    margin: 0 auto;
    max-width: 1400px;
}

.intro-section h1 {
    color: #555;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.intro-box {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.intro-box h2 {
    color: #555;
    border-bottom: 3px solid #bc80bd;
    padding-bottom: 12px;
    font-size: 40px;
    margin-top: 0;
}

.intro-box p {
    line-height: 1.8;
    color: #555;
    font-size: 25px;
    margin: 15px 0;
}

.intro-box ul {
    line-height: 2;
    color: #555;
    font-size: 25px;
    margin-left: 25px;
}

.intro-box li {
    margin: 8px 0;
}

.intro-cta {
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    background-color: #bc80bd;
    color: #555;
    border-radius: 5px;
}

.intro-cta h3 {
    margin: 0 0 10px 0;
    color: #555;
    font-size: 40px;
}

.intro-cta p {
    margin: 0;
    font-size: 25px;
    color: #555;
}

/* Main content wrapper for the interactive visualization */
.main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    width: 100%;
}
