body {
	display: flex;
	flex-direction: row;
	margin: 1;
	padding: 1;
	font-family: Arial, sans-serif;
	height: 98vh; /* Set the body height to full viewport height */
}

.command-column {
    width: 300px;
    padding: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Full height of the parent */
}


.command-column h2 {
	margin-top: 0;
}

.command-column button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.graph {
	flex-grow: 1; /* Allow .graph to grow and take remaining width */
	height: 100%; /* Full height of the parent */
	display: flex;
	justify-content: center;
	align-items: center;
}

svg {
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
}

.button {
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.active-button {
	color: white;
}

.inactive-button {
	background-color: #454545 !important;
	color: white;
}

.ownershipButton {
	background-color: #1f77b4;
}

.partnershipButton {
	background-color: #ff7f0e;
}

.family_relationshipButton {
	background-color: #2ca02c;
}

.membershipButton {
	background-color: #d62728;
}

.link.inactive {
	stroke: #ffffff;
}

select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.investigate-source-or-target-distance-select {
	pointer-events: none; /* Prevent mouse interaction */
	text-align: center;
	width: 90px; /* Adjust width as needed */
	padding: 10px; /* Adjust padding for consistent height */
	border: 2px groove black;
	border-radius: 5px;
	font-size: 16px; /* Set font size to be consistent with buttons */
	line-height: 1; /* Adjust line height if needed */
	margin: 0 10px; /* Remove default margin */
	margin-top: 0px;
}

.investigate-distance-div {
	display: flex;
	align-items: center; /* Center items vertically */
	justify-content: center; /* Center items horizontally */
}

.investigate-distance-div button {
	border: 1px solid #ccc;
	padding: 10px 10px; /* Ensure buttons have consistent padding */
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px; /* Set font size to match input */
	line-height: 1.2; /* Adjust line height if needed */
	box-sizing: border-box; /* Ensure padding and border are included in width/height */
	margin: 0 10px;
}

.plus-button {
	background-color: red;
}

.minus-button {
	background-color: blue;
}

/* Hide the spinner buttons in WebKit browsers (like Chrome, Safari, etc.) */
.investigate-distance-div input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide the spinner buttons in Firefox */
.investigate-distance-div input[type="number"] {
	-moz-appearance: textfield;
}
